{{#each this}}
<div class="card">
    <h2 class="card-title">{{name}}</h2>
    <div class="card-body">
        <div>
            <img src="{{coatOfArms}}" alt="CoatOfArms of {{name}}" class="card-img-coat">
        </div>
        <div>
            <p class="card-text"><b>Capital: </b>{{capital}}</p>
            <p class="card-text"><b>Population: </b>{{population}}</p>
            <p class="card-text"><b>Languages: </b>{{languages}}</p>
            <p class="card-text"><b>Currency: </b>{{currency}}</p>
            <a href="{{googleMap}}" target="_blank"><b>Google map</b></a>
        </div>
        <div>
            <img src="{{flag}}" alt="Flag of {{name}}" class="card-img">
        </div>
    </div>
</div>
{{/each}}
